/*
Error: The line was indented 2 levels deeper than the previous line.
        on line 26 of download.css

21: 
22: a {
23:   text-decoration: none;
24: }
25: .download {
26:     /* rounded corner overflow mask fix *\/
27:     -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
28:     overflow: hidden;
29:     border-radius: 10px;
30:     @include box-sizing( border-box );
31:     background: $color;

Backtrace:
download.css:26
/var/lib/gems/1.9.1/gems/sass-3.4.12/lib/sass/engine.rb:511:in `tree'
/var/lib/gems/1.9.1/gems/sass-3.4.12/lib/sass/engine.rb:396:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.12/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.12/lib/sass/engine.rb:285:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.12/lib/sass/exec/sass_scss.rb:407:in `run'
/var/lib/gems/1.9.1/gems/sass-3.4.12/lib/sass/exec/sass_scss.rb:63:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.4.12/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.12/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.4.12/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:19:in `load'
/usr/local/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: The line was indented 2 levels deeper than the previous line.\A         on line 26 of download.css\A \A 21: \A 22: a {\A 23:   text-decoration: none;\A 24: }\A 25: .download {\A 26:     /* rounded corner overflow mask fix */\A 27:     -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);\A 28:     overflow: hidden;\A 29:     border-radius: 10px;\A 30:     @include box-sizing( border-box );\A 31:     background: $color;"; }
